.header__logo {
  padding-top: 38px;
}

@media only screen and (max-width: 425px) {
  .header__logo {
    padding-top: 20px;
    padding-left: 27px;
    width: 105px;
  }
}

.header__solid {
  border-top: 1px solid #545454;
  opacity: 70%;
  margin-top: 34px;
  margin-bottom: 0px;
}


@media only screen and (max-width: 425px) {
  .header__solid {
    margin-top: 25px;
  }
}




.kusto {
  display: grid;
  /* grid-auto-flow: column; */
  /* grid-auto-rows: 1fr; */
  /* grid-template-rows: 0.2fr; */
  gap: 20px 19px;
  /* grid-template-areas: ". . . ."; */
  /* justify-items: stretch; */
  /* color: white; */
  padding-top: 39px;
  max-width: 880px;
  grid-template-columns: repeat(1, 284fr 284fr 284fr);
}


@media only screen and (max-width: 425px) {
  .kusto {
    padding-top: 40px;
    grid-template-columns: repeat(1, 288px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    gap: 21px;
    justify-content: center;
  }
}



.kusto__item {
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.kusto__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-top: 8px;
  margin-bottom: 0;
}


@media only screen and (max-width: 425px) {
  .kusto__description {
    padding-right: 0;
    font-size: 14px;
}
}


.kusto__title {
  font-size: 42px;
  width: 294px;
  line-height: 48px;
  margin-top: 22px;
  margin-bottom: 0px;
}


@media only screen and (max-width: 425px) {
  .kusto__title {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 27px;
    line-height: 32.68px;
  }
}


.kusto__image {
  border-radius: 50%;
  /* height: 160px; */
  width: 123px;
  /* margin-bottom: 30px; */
  /* margin-left: 40px; */
  margin-right: 40px;
}


@media only screen and (max-width: 425px) {
  .kusto__image {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.kusto__icon {
  margin-top: 38px;
}

.kusto__button {
  margin-top: 6px;
  border: 2px solid #ffffff;
  
  /* width: 280px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* min-height: 100%; */
  padding-top: 15px;
  padding-bottom: 15px;
}


@media only screen and (max-width: 425px) {
  .kusto__button {
    max-width: 287px;
  }
}


.cards {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    padding-top: 45px;
    grid-template-columns: repeat(1, 284fr 284fr 284fr);
    gap: 17px;
  }
   


  @media only screen and (max-width: 425px) {
    .cards {
      padding-top: 36px;
      grid-template-columns: repeat(1, 288px);
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
      gap: 16px;
    }
  }
  .cards__corners {
    border-radius: 3%;

  }
  

  .cards__item {
    max-width: 100%;
  }
  
  .cards__description {
   color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    padding-left: 15px;
    margin-top: 23px;
    margin-bottom: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (max-width: 425px) {
    .cards__description {

      padding-left: 22px;  
  }
  }


  .cards__cell {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 8px;
    overflow: hidden;
  }


 

  .cards__social-icon {
    padding-right: 22px;
    padding-left: 10px;
  }


  @media only screen and (max-width: 425px) {
    .cards__social-icon {
      padding-right: 23px;
      padding-left: 12px;
      
  }
  }



  .root {
    max-width: 880px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    font-family: Inter, Arial, sans-serif;
    color: white;
  }

  .footer {
    color: #ffffff;
    max-width: 1185px;
    margin: auto;
    display: flex;
    /* height: 60px; */
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 84px;
    padding-bottom: 24px;
    list-style-type: none;
}

  .footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 34px;
}

