.cards__button {
  width: 24px;
  height: 24px;
  top: -41px;
  right: -39px;
  background-color: transparent;
  background-image: url(../../../images/heart-desabled.svg);
  background-size: 17px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  }


  .cards__button:hover {
    background-image: url(../../../images/heart-hover.svg);
  }


  .cards__button:active {
    background-image: url(../../../images/heart-avtive.svg);
  }