.kusto__icon {
  width: 24px;
  height: 24px;
  top: -41px;
  right: -39px;
  background-color: transparent;
  background-image: url(../../../images/pencil.svg);
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 2px solid rgb(255 255 255);
  margin-top: 36px;
  margin-left: 10px;
}

.kusto__icon:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 425px) {
  .kusto__icon {
    padding-left: 15px;
    max-width: 19px;
    margin-top: 6px;
    margin-right: 32px;

  }
}