.cards__cell {
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  overflow: hidden;
  max-width: 288px;
  position: relative;
}